body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li.done {
    list-style-type: "✓ ";
}

ul li button {
    color: red;
    border: none;
    background: none;
}